*.o
__pycache__
build/
cmake-build-release/
cmake-build-debug/
.cache
.coverage
test/ligands
test/results
.vscode
.idea
dist/
unidock_tools/dist
unidock_tools/dist/*
*.egg-info
torsion_library.pkl
_version.py
test_ud2
test_conf.yaml
setup.py.depre

temp_*/
